<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
        >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            filter="rules"
            validate="rules"
            component="com_r3dcomments"
            section="component" />
    </fieldset>
    <fieldset name="general" label="COM_R3DCOMMENTS_CONFIG_GENERAL_SETTINGS_LABEL">
        <field name="recipient_email" type="email"
            label="COM_R3DCOMMENTS_CONFIG_RECIPIENT_EMAIL_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_RECIPIENT_EMAIL_DESC"
            validate="email" />
        <field name="email_subject" type="text"
            label="COM_R3DCOMMENTS_CONFIG_EMAIL_SUBJECT_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_EMAIL_SUBJECT_DESC"
            default="New comment on {site_name}"
        />
        <field name="email_body" type="textarea"
            rows="15"
            label="COM_R3DCOMMENTS_CONFIG_EMAIL_BODY_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_EMAIL_BODY_DESC"
            filter="safehtml"
        ><![CDATA[A new comment has been posted on the website.

--------------------------------------------------
Author: {author_name}
E-Mail: {author_email}
Comment:
{comment}
--------------------------------------------------

Actions:
Publish: {publish_url}
Trash: {trash_url}

Edit in backend:
{backend_url}]]></field>
        <field
            name="guest_rate_limit_max"
            type="number"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_RATE_LIMIT_MAX_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_RATE_LIMIT_MAX_DESC"
            default="3"
            min="0"
            step="1"
        />
        <field
            name="guest_rate_limit_window"
            type="number"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_RATE_LIMIT_WINDOW_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_RATE_LIMIT_WINDOW_DESC"
            default="300"
            min="30"
            step="30"
        />
        <field
            name="guest_rate_limit_day_max"
            type="number"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_RATE_LIMIT_DAY_MAX_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_RATE_LIMIT_DAY_MAX_DESC"
            default="10"
            min="0"
            step="1"
        />
        <field
            name="guest_rate_limit_day_window"
            type="number"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_RATE_LIMIT_DAY_WINDOW_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_RATE_LIMIT_DAY_WINDOW_DESC"
            default="86400"
            min="300"
            step="300"
        />
        <field
            name="guest_honeypot_enabled"
            type="radio"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_HONEYPOT_ENABLED_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_HONEYPOT_ENABLED_DESC"
            default="1"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
            name="guest_honeypot_field"
            type="text"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_HONEYPOT_FIELD_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_HONEYPOT_FIELD_DESC"
            default="website"
            filter="cmd"
        />
        <field
            name="guest_min_submit_seconds"
            type="number"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_MIN_SUBMIT_SECONDS_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_MIN_SUBMIT_SECONDS_DESC"
            default="2"
            min="0"
            step="1"
        />
        <field
            name="guest_max_links"
            type="number"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_MAX_LINKS_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_MAX_LINKS_DESC"
            default="2"
            min="0"
            step="1"
        />
        <field
            name="guest_link_limit_action"
            type="list"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_LINK_LIMIT_ACTION_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_LINK_LIMIT_ACTION_DESC"
            default="block"
        >
            <option value="block">COM_R3DCOMMENTS_CONFIG_GUEST_LINK_LIMIT_ACTION_BLOCK</option>
            <option value="moderate">COM_R3DCOMMENTS_CONFIG_GUEST_LINK_LIMIT_ACTION_MODERATE</option>
        </field>
        <field
            name="guest_captcha_mode"
            type="list"
            label="COM_R3DCOMMENTS_CONFIG_GUEST_CAPTCHA_MODE_LABEL"
            description="COM_R3DCOMMENTS_CONFIG_GUEST_CAPTCHA_MODE_DESC"
            default="off"
        >
            <option value="off">COM_R3DCOMMENTS_CONFIG_GUEST_CAPTCHA_MODE_OFF</option>
            <option value="always">COM_R3DCOMMENTS_CONFIG_GUEST_CAPTCHA_MODE_ALWAYS</option>
        </field>
    </fieldset>
</config>
